.panda-bg-info{
  background-color:#FEEAE9;
  ;
}
.watch img{
  width: 68.21px;
  height: 90px;
}
.shoe img{
  width: 68.21px;
  height: 90px;
}
.bag img{
  width: 68.21px;
  height: 90px;
}
.top-margin{
  margin-top:  70px;
}